@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

:root{
    --azul_claro: rgb(0, 172, 230);
    --amarelo_canario: rgb(255, 187, 0);
    --verde_limao: rgb(0, 202, 0);
    --preto: rgb(0, 0, 0);
    --branco: rgb(255, 255, 255);
    --vermelho: rgb(255, 0, 0);
}

body{
    margin: 0px;
    font-family: Marhey, Arial, Helvetica;
}

#menu_topo{
    width: 100%;
    height: 80px;
    background-color: var(--azul_claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logomarca{
    height: 50px;
    margin-left: 80px;
}


#cx_menu{
    display: flex;
    margin-right: 80px;
}

.itens_menu{
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 35px 0px 35px 35px;
    color: var(--branco);
    font-size: 18px;
    font-weight: 400;
}

#menu_ativado{
    background-color: var(--vermelho);
}

.itens_menu:hover{
    background-color: var(--amarelo_canario)!important;
}

#banner{
    background-image: url('/imagens/criancas.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

#cx_mensagem{
    background-color:rgba(0, 172, 230, 0.7) ;
    width: 50%;
    height: 300px;
    color: var(--branco);
    border-radius: 70px 20px 70px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    flex-direction: column;
    text-align: center;
}

/*Formatar o 1º span que há na cx_mensagem*/
#cx_mensagem span:nth-of-type(1){
    font-size: 75px;
    font-weight: 700;
    line-height: 65px;
}

/*Formatar o 2º span que há na cx_mensagem*/
#cx_mensagem span:nth-of-type(2){
    font-size: 30px;
}

#container{
    text-align: center;
    background-image: url('imagens/nuvem.png');
}

h1:nth-of-type(1){
    font-size: 50px;
    margin-top: 100px;
}

#criancas2{
    background-image: url('imagens/criancas2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 500px;
    height: 400px;
    border-radius: 80px 20px 80px 20px;
}
#cx_conteudo1{
    display: flex;
    width: 70%;
    margin: auto;
}

#txt_conteudo1{
    text-align: justify;
    padding-left: 50px;
}

#txt_conteudo1 h1{
    font-size: 50px;
    line-height: 45px;
    
}


#cx_conteudo2{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 140px;
}

#criancas3{
    background-image: url('imagens/criancas3.jpg');
    width: 70%;
    height: 400px;
    background-size: 100% 100%;
    border-radius: 50px 0px 0px 50px;
}
#txt_conteudo2{
    width: 30%;
    background-color: var(--verde_limao);
    color: var(--branco);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px 50px 50px 0px;
}

#rodape{
    background-color: var(--azul_claro);
    height: 400px;
    margin-top: 140px;
    /*Permitir que as DIVs fiquem uma ao lado da outra*/
    display: flex;
    /* Alinhamento na vertical*/
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}

#coluna1, #coluna2, #coluna3{
    height: 300px;
    width: 33%;
    color: var(--branco);
    text-align: left;
    padding: 20px;
}
#coluna1 h1{
    margin-top: 0px;
}

.icones{
    font-size: 40px;
    margin-right: 10px;
}

#copyright{
    background-color: var(--azul_claro);
    height: 50px;
    color: var(--branco);
}
/* Formatar o elemento 'SPAN' que está dentro da div #copyright*/
#copyright span{
    border-top: 2px solid white;
    padding-left: 60px;
    padding-right: 60px;
}
/* Formatar o elemento 'A' que está dentro da div #copyright*/
#copyright a{
    color: yellow;
    text-decoration: none;
}
/* Formatar o elemento 'A' que está dentro da div
#copyright quando passar o mouse em cima*/
#copyright a:hover{
    color: blue;
}
#menu_topo_mobile{
    height: 100px;
    background-color: red;
    align-items: center;
    display: none;
}

/*CONFIGURAÇÕES DE RESPONSIVIDADE*/
/* Configurações para mobile*/
@media screen and (max-width:480px) {
    #menu_topo_mobile{
        display: flex;
    }
    #menu_topo{
        display: none;
    }
}
/* Configurações para tablet*/
@media screen and (min-width:481px) and (max-width: 1024px){
    #menu_topo_mobile{
        display: flex;
    }
    #menu_topo{
        display: none;
    }
}
/* Configurações EXTRA para PC*/
@media screen and (min-width: 1025px){
    
}